.footer {
    background-color: #0A0A0A;
    padding: 40px 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #717171;
}

.footer__text {
    font-size: 14px;
    line-height: 1.3;
}

.footer__logo {
    width: 70px;
    height: 70px;
    margin-left: 200px;
}

.footer__phone {
    font-size: 24px;
}