.range {
    background-color: #F5F5F7;
    padding-top: 71px;
    padding-bottom: 40px;
    margin-bottom: 87px;
}

.range__title {
    text-align: center;
    color: #490E84;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 40px;
}
    
.range__img {
    text-align: center;
    margin-bottom: 25px;
}
    
.range__button {
    width: 350px;
    margin: 0 auto;
    background-color: #490E84;
    padding: 22px 118px;
    border-radius: 30px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.range__button:hover {
    background-color: #7530ba;
}

.range__link {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}

@media (max-width: 1000px){
    .range__title {
        font-size: 50px;
    }

    .range__img {
        padding: 0px 30px;
    }

    .range__img img {
        width: 100%;
    }
}

@media (max-width: 800px){
    .range__title {
        font-size: 45px;
    }

    .range__button {
        padding: 15px 75px;
        text-align: center;
        width: 300px;
    }
}

@media (max-width: 700px){
    .range__title {
        font-size: 30px;
    }
}

@media (max-width: 400px){
    .range__button {
        width: 100%;
    }
}
   